.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

.wrapper__left,
.wrapper__right {
  padding: 20px 10px;
}
.wrapper__left__item {
  background-color: var(--background-color-light);
  border-radius: 12px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: var(--box-shadow);

  /* border: 1px solid var(--border-color); */
}

.wrapper__right__item {
  background-color: var(--background-color-light);
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: var(--box-shadow);
  /* border: 1px solid var(--border-color); */
}

@media (min-width: 1098px) {
  .wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 12px;
  }

  /* .wrapper__left {
    grid-column: 1 / span 4;
  }

  .wrapper__right {
    grid-column: 5 / span 1;
  } */
}

.tools__container {
  margin: 60px 0;
}

.name {
  font-weight: 700;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  color: var(--text-color-secondary);
  font-size: 24px;
}

.stack,
.email,
.phone {
  color: #828282;
  font-size: 24px;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid #e0e0e0;
}
.email,
.phone {
  display: flex;
  align-items: center;
}
.stack {
  padding: 5px 0;
}
.motivation {
  margin-top: 40px;
  color: #828282;
  font-weight: 500;
  font-size: 22px;

  padding: 5px 0;
  border-bottom: 1px solid #e0e0e0;
}

.projects,
.experience,
.blog,
.tools {
  background-color: var(--background-color-light);
  padding: 20px;
  margin-top: 10px;
  /* border: 1px solid var(--border-color); */
  color: var(--text-color-secondary);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  font-weight: 500;
  font-size: 24px;
}

.experience,
.blog {
  margin-top: 40px;
}
.projects {
  margin-top: 10px;
}
.bio {
  width: 100%;
}

.blog {
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .projects__img {
    margin-right: 20px;
  }
}
.mute {
  color: #828282;
  font-weight: 500;
  font-size: 30px;
}

.contact__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.tools__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  color: #828282;
  font-weight: 500;
  font-size: 24px;
  padding: 5px 20px;
}

.tools__items h1 {
  border-style: solid;
  border-width: 0;
  border-left-width: 0.15em;
  padding: 5px 10px;
  border-image: linear-gradient(#40e0d0, #ff8c00, #ff0080) 3;
}

.gradient__text {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  font-size: 35px;
  font-weight: 700;
  /* Fallback: Set a background color. */
  background-color: #ca4246;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 7s infinite ease forwards;
}

.gradient__text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}
