.wrapper__left__item__flex {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.experience__image {
  object-fit: cover;
  width: 100%;
  margin-right: 20px;
}

.mute {
  color: #4f4f4f;
  font-weight: 500;
  font-size: 24px;
  padding: 10px 0;
}

.company {
  font-weight: 700;
  font-size: 24px;
  /* linear-gradient(#40e0d0, #ff8c00, #ff0080); */
  background: -webkit-linear-gradient(45deg, #f3ec78, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.text__700 {
  font-weight: 700;
  margin-top: -4px;
  font-size: 30px;
}

.exp {
  color: #4f4f4f;
  font-weight: 500;
  font-size: 24px;
  margin-top: -4px;
}
@media screen and (max-width: 720px) {
  .wrapper__left__item__flex {
    display: block;
    margin-right: 20px;
  }
  .experience__image img {
    object-fit: contain;
  }

  .wrapper__left__item__flex img {
    width: 100%;
    object-fit: contain;
  }
  .mute,
  .exp,
  .text__700 {
    text-align: center;
  }
}
